<div class="navbar-wagon navbar-fixed-top">
  <!-- Logo -->
  <div class="navbar-logos">
    <div class="navbar-logo">
      <a href="https://www.instagram.com/juliebis/", target="_blank"><i class="fab fa-instagram"></i></a>
    </div>
    <div class="navbar-logo">
      <a href="https://www.instagram.com/juliebis/", target="_blank"><i class="fab fa-facebook-f"></i></a>
    </div>
    <div class="navbar-logo">
      <a href="https://www.instagram.com/juliebis/", target="_blank"><i class="fab fa-pinterest"></i></a>
    </div>
  </div>



  <!-- Right Navigation -->
  <div class="navbar-wagon-right hidden-xs hidden-sm">


      <!-- Links when logged in -->
      <%= link_to "BLOG", "#", class: "navbar-wagon-item navbar-wagon-link" %>
      <%= link_to "TRIPS", "#", class: "navbar-wagon-item navbar-wagon-link" %>
      <%= link_to "CONTACT", "#", class: "navbar-wagon-item navbar-wagon-link" %>
      <%= link_to "ABOUT", "#", class: "navbar-wagon-item navbar-wagon-link" %>
      <!-- Avatar with dropdown menu -->
      <div class="navbar-wagon-item">
        <div class="dropdown">

        <% if user_signed_in? %>
          <%= image_tag "julie.png", class: "avatar dropdown-toggle", id: "navbar-wagon-menu", "data-toggle" => "dropdown" %>
        <% end %>
          <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
            <li>
              <%= link_to "#" do %>
                <i class="fa fa-user"></i> <%= t(".profile", default: "Profile") %>
              <% end %>
            </li>
            <li>
              <%= link_to "#" do %>
                <i class="fa fa-cog"></i>  <%= t(".settings", default: "Settings") %>
              <% end %>
            </li>
            <li>
              <%= link_to destroy_user_session_path, method: :delete do %>
                <i class="fa fa-sign-out-alt"></i>  <%= t(".sign_out", default: "Log out") %>
              <% end %>
            </li>
          </ul>
        </div>
      </div>
  </div>

  <!-- Dropdown list appearing on mobile only -->
  <div class="navbar-wagon-item hidden-md hidden-lg">
    <div class="dropdown">
      <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
      <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
        <li><a href="#">BLOG</a></li>
        <li><a href="#">TRIPS</a></li>
        <li><a href="#">CONTACT</a></li>
        <li><a href="#">ABOUT</a></li>
      </ul>
    </div>
  </div>
</div>

