<div class="container">
  <% Post.joins(:categories).where(categories: {name: "Bons Plans"}).each do |post| %>
 <div class="card">
      <div class="time-card">
        <%= l(post.created_at,format: :long) %>
      </div>
      <div class="title-card">
        <%= post.title %>
      </div>
      <div class="content-card">
        <%= post.content.first(400) %> (...)
      </div>
      <div class="link-card">
        <%= link_to "Lire la suite", post_path(post) %>
      </div>
       <div class="photo-index">
        <%= cl_image_tag post.photo, crop: :fill%>
      </div>
    </div>
  <% end %>

</div>
