<div class="container">
  <div class="row">

    <div class="card">
      <div class="time-card">
        <%= l(@post.created_at,format: :long) %>
      </div>
      <div class="title-card">
        <%= @post.title %>
      </div>
      <div class="photo-show">
        <%= cl_image_tag @post.photo, crop: :fill%>
      </div>
      <br><br>
      <div class="content-card">
        <%= @post.content %>
      </div>

      <br><br>

      <div class="review-card">
        <div id="reviews">
          <% @post.comments.each do |comment| %>
            <p> <strong> <%= comment.pseudo %> </strong> </p>
            <p> "<%= comment.body %>" </p>
            <%if user_signed_in? %>
              <%= link_to "Supprimer ce commentaire", post_comment_path(@post, comment), method: :delete, data: { confirm: "Confirmer la suppression de ce commentaire?" } %>
            <% end %>
            <br><br>
          <%end%>
        </div>

        <br><br>

        <div id="add-review">
          <p> Laisser un commentaire : </p>
          <%= simple_form_for([@post, @comment]) do |f| %>
            <%= f.input :pseudo, method: :create, label: false, placeholder: "Votre pseudo"%>
            <%= f.input :body, method: :create, label: false, placeholder: "Votre commentaire..."%>
            <%= f.button :submit, "Publier", class: "btn btn-primary" %>
          <% end %>
        </div>
      </div>


      <div class="add-article">
        <%= link_to "Retour à la liste des articles", root_path %>
        <% if @post.user == current_user %>
          <br> <br>
          <%= link_to "Editer mon article", edit_post_path(@post) %>
          <br> <br>
          <%= link_to "Supprimer cet article", post_path(@post), method: :delete, data: { confirm: "Confirmer la suppression de cet article ?" } %>
        <% end %>
      </div>

    </div>
  </div>

</div>
