<% if user_signed_in? %>

  <div class="container">
    <% @categories.each do |category| %>
      <div class="card">
        <div class="content-card">
          <strong><%= category.name %></strong>
          <br> <br>
          <%= link_to "Ajouter des posts à cette catégorie", new_category_category_post_path(category)%>
          <br>
          <br>
          <%= link_to "Supprimer cette catégorie", category_path(category), method: :delete, data: { confirm: "Are you sure ?" } %>
        </div>
        <br>
        <div class="time-card">
          <% category.posts.each do |post| %>
          <%= post.title %> <br>

          <% end %>
        </div>
      </div>
    <% end %>
    <div class="add-article">
        <%= link_to "Ajouter une catégorie", new_category_path %>
    </div>
  </div>

<%end %>
